<html lang="en">
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <H1 class = "alertTitle">Welcome to the Alerts page.</H1>
            <h3 class = "alertTitle">Here, you will find all the ongoing menu specials for each restaurant.
                <br>If there is a Dish of the Day, it's on the top of the restaurants menu.
            </h3>
            <a href="/">Home</a>
        </main>
        <table id ="alerts" style="width:50%">
            <tr>
              <th>The Gourmet Bistro</th>
              <th>Spicy Kitchen</th>
              <th>Healthy Eats</th>
              <th>Comfort Diner</th>
              <th>Sweet Tooth Bakery</th>
            </tr>
            <tr>
              <td><%= gourmetAlerts%></td>
              <td><%=spicyAlerts %></td>
              <td><%=healthyAlerts %></td>
              <td><%=comfortAlerts %></td>
              <td><%=sweetAlerts %></td>
            </tr>
          </table>
          
    </body>
    
</html>