<html lang="en">
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Restaurant Menus</h1>
            <!-- here is the example food item to be shown -->
            <h3>Here is an example item to get your stomach grumbling:
                <br><br>
                <i><%= randomItem %> - <%= randomDesc%> $<%=randomPrice%> </i>
                <i>This item is from <%=restaurantName%></i>
            </h3>
            <h2>Please choose your restaurant to get the menu</h2>
            <form action="/restaurant" method="GET">
                <label for="restaurantId">Select a restaurant:</label>
                <select name="restaurantId" id="restaurantId">
                    <% restaurants.forEach((restaurant) => { %>
                        <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
                    <% }) %>
                </select>
                <button type="submit">Get the menu!</button>
            </form>

            <a href="/alerts">Menu Alerts</a>
        </main>
    </body>
</html>