<html lang="en">
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Restaurant Menus</h1>


                <p>sup bitch</p>
                
                <h1><%= restaurantId %> Menu</h1>

                <ul>
                  <% display.forEach(item => { %>
                    <li>
                      <strong><%= item.dish.name %></strong><br>
                      <em><%= item.dish.description %></em><br>
                      Price: $<%= item.dish.price.toFixed(2) %>
                      <strong><%= item.special%></strong>
                    </li>
                  <% }) %>
                </ul>
        </main>
    </body>
</html>